<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="icecut@qq.com">
    <link rel="icon" href="../../favicon.ico">

    <title>{{.Title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap431.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    

    <!-- Custom styles for this template -->
    <link href="/css/eeblog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv373.min.js"></script>
      <script src="/js/respond142.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">{{.Project}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {{ range .Tags }}
                  {{ if .Active }}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{.URL}}">{{.Tag}}<span class="sr-only">(current)</span></a>
                    </li>
                  {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{.URL}}">{{.Tag}}</a>
                    </li>
                  {{ end }}
                {{ end }}
          </ul>
          <!--
          <form class="form-inline" style="margin-bottom: 0;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          -->
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="alert alert-primary" role="alert">
          <h2>{{.BlogTitle}}</h2>
        </div>
        <div class="alert alert-success" role="alert">
        <h5 class="alert-heading">{{.BlogSummary}}</h5>
        </div>
        <div class="alert alert-info" role="alert">
        {{.BlogCtx}}
        </div>
        
        </div>
      </div><!--/.container-->
      <footer class="container">
          <a href="https://github.com/antboard/eeblog">© power by eeblog 2019</a>
      </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper147.min.js"></script>
    <script src="/js/bootstrap431.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
</body></html>