<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="icecut@qq.com">
    <link rel="icon" href="../../favicon.ico">

    <title>{{.Title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap431.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    

    <!-- Custom styles for this template -->
    <link href="/css/eeblog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv373.min.js"></script>
      <script src="/js/respond142.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">{{.Project}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {{ range .Tags }}
                  {{ if .Active }}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{.URL}}">{{.Tag}}<span class="sr-only">(current)</span></a>
                    </li>
                  {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{.URL}}">{{.Tag}}</a>
                    </li>
                  {{ end }}
                {{ end }}
          </ul>
          <!--
          <form class="form-inline" style="margin-bottom: 0;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          -->
        </div>
      </nav>
    </header>
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="jumbotron">
              <h1>{{.BigTitle}}</h1>
              <p>{{.BigSummary}}</p>
            </div>
            <div class="row">
              {{ range .Blogs }}
              <div class="col-xs-12 col-lg-4 col-sm-4">
                <h2>{{.Title}}</h2>
                <p>{{.Summary}}</p>
                <p><a class="btn btn-default" href="{{.URL}}" role="button">more »</a></p>
              </div><!--/.col-xs-12.col-lg-4 col-sm-9 -->
              {{ end }}
            </div><!--/row-->
          </div><!--/.col-xs-12.col-sm-9-->
        </div><!--/row-->    
      </div>
      
      <footer class="container">
        <a href="https://github.com/antboard/eeblog">© power by eeblog 2019</a>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper147.min.js"></script>
    <script src="/js/bootstrap431.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
  

</body></html>